<div class="page page--experience">
  <div class="intro">
    <div class="text">
      <h2 class="text__item item--heading">
        Experience.
      </h2>
      <h6 class="text__item item--paragraph">
        I have going on 4 years of experience working as a Software Engineer, and all of that time has actually been for
        the same company! I am a Full Stack Engineer, and I do a lot of consulting with a range of different clients..
      </h6>
    </div>
  </div>

  <div class="experience">
    <ul class="list">
      <li class="list__item">
        <h4 class="item__heading">
          Vectra Business Technologies (Pty Ltd)
        </h4>
        <div class="item__details">
          <h5>Position</h5>
          <p>Software Engineer</p>

          <h5>Start Date</h5>
          <p>June 2017</p>

          <h5>Clients</h5>
          <ul>
            <li>Italtile</li>
            <li>CTM</li>
            <li>TopT</li>
            <li>The Combustion Group</li>
            <li>The Meridian Group</li>
          </ul>

          <h5>Company Website</h5>
          <p>
            <a href="https://vectra.co.za" target="_blank">Vectra</a>
          </p>

          <h5>Company Location</h5>
          <div>
            <iframe
                  allowfullscreen=""
                  aria-hidden="false" frameborder="0" height="300" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d229681.19843883056!2d28.03869681252737!3d-25.909972309899693!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e955f215f025b53%3A0x540fec70e1964acc!2sVectra!5e0!3m2!1sen!2sza!4v1601931677606!5m2!1sen!2sza" style="border:0;" tabindex="0"
                  width="400"></iframe>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
