.container {
  &::after {
    display: block;
    content: "";
    clear: both;
  }

  margin: 0 20px;
}

.site-content {
  padding-top: 66px;
}

@media only screen and (max-width: 768px) {

  .site {
  }

  .header {
    position: static;
  }

  .footer {
    .footer-left,
    .footer-center,
    .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }

    .footer-center {
      i {
        margin-left: 0;
      }
    }
  }
  .menu {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: darken(#04045d, 5);

    width: 250px;

    a {
      display: block;
      height: 40px;

      text-align: center;
      line-height: 40px;

      border-bottom: 1px solid #04045d;
    }
  }
}
