<footer class="footer">
  <div class="footer-left">
    <h3>About<span>Me</span></h3>

    <p class="footer-links">
      <a href="#">Home</a> |
      <a href="#">Skills</a> |
      <a href="#">Experience</a> |
      <a href="#">Projects</a> |
      <a href="#">Contact</a> |
    </p>

  </div>

  <div class="footer-center">
    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>Pretoria</span>
        Gauteng, South Africa</p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>+27 76 339 0298</p>
    </div>
    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:nwu24297704@gmail.com">nwu24297704@gmail.com</a></p>
    </div>
  </div>
  <div class="footer-right">
    <p class="footer-about">
      <span>About me</span>
      I am a experienced Full Stack Software Engineer, currently employed by Vectra Business Technologies</p>
    <div class="footer-icons">
      <a href="https://www.facebook.com/tuys1/"><i class="fa fa-facebook"></i></a>
      <a href="https://www.instagram.com/tehanuys/"><i class="fa fa-instagram"></i></a>
      <a href="https://www.linkedin.com/in/tehan-uys-0605b1137/"><i class="fa fa-linkedin"></i></a>
    </div>
  </div>
</footer>
