<div class="page page--home">
  <!-- Intro -->
  <div class="intro">
    <div class="text">
      <h2 class="text__item item--heading">
        Hi! Welcome to my <span>online CV</span>.
      </h2>
      <h6 class="text__item item--paragraph">
        This is <b>not</b> a safe space.
      </h6>
    </div>
  </div>
  <!-- ./Intro -->

  <!-- Skills -->
  <div class="skills">
    <div class="text">
      <h3 class="text__item item--heading">
        My skills.
      </h3>
      <p class="text__item item--paragraph">
        I am a Software Engineer that has been actively coding on an Enterprise Level for
        going on 4 years now. I primarily work with Web Based Technologies such as:
      </p>
    </div>

    <ul class="list">
      <li class="list__item">
        NodeJS
      </li>
      <li class="list__item">
        Angular
      </li>
      <li class="list__item">
        Docker
      </li>
      <li class="list__item">
        MongoDB
      </li>
      <li class="list__item">
        Linux
      </li>
      <li class="list__item">
        And many more
        !
      </li>
    </ul>
  </div>

  <div class="about">
    <div class="text">
      <h3 class="text__item item--heading">
        About me.
      </h3>
      <p class="text__item item--paragraph paragraph--large">
        I am currently Employed with Vectra Business technologies, and have bees since I started working. Funny fact, I
        was the first Developer hired at Vectra!
      </p>
      <p class="text__item item--paragraph">
        I have varied interests, which can cover numerous fields, fom cooking, to reading and even going clay shooting!
        A
        list of my hobbies includes:
      </p>
    </div>

    <ul class="list">
      <li class="list__item">
        Gaming
      </li>
      <li class="list__item">
        Reading
      </li>
      <li class="list__item">
        Watching Movies/Series
      </li>
      <li class="list__item">
        Cooking
      </li>
      <li class="list__item">
        Shooting
      </li>
      <li class="list__item">
        Going to new Restaurants (For when I am too lazy to cook)
      </li>
      <li class="list__item">
        Having a Drink with friends
      </li>
      <li class="list__item">
        BRAAI!
      </li>
      <li class="list__item">
        Doing Cool DIY Tech Projects
      </li>
      <li class="list__item">
        Spending WAY too much time on Wikipedia
      </li>
    </ul>

    <div class="outro">
      <p class="outro__paragraph">
        The list could go on and on, but I think you get the idea...
      </p>
    </div>
  </div>

  <div class="profile">
    <div class="text">
      <h3 class="text__item item--heading">
        I just realised we came this far, and I never introduced myself!
      </h3>
      <p class="text__item item--paragraph paragraph--large">
        Hi, I am Tehan Uys, but most people just call me
        Tehan, unless I am in trouble...
      </p>
    </div>

    <div class="image">
      <img alt="itsa_me_tehan" class="image__item" src="assets/me.jpg"/>
    </div>
  </div>
</div>
