<div>
  <p>Hi! Welcome to my online CV. This is <b>not</b> a safe space.</p>
  <p>I am a Software Engineer that has been actively coding on an Enterprise Level for
    going on 4 years now. I primarily work with Web Based Technologies such as:</p>
  <div>
    <ul>
      <li>NodeJS</li>
      <li>Angular</li>
      <li>Docker</li>
      <li>MongoDB</li>
      <li>Linux</li>
      <li>And many more!</li>
    </ul>
  </div>
  <div>
    <p>I am currently Employed with Vectra Business technologies, and have bees since I started working. Funny fact, I
      was the first Developer hired at Vectra!</p>
  </div>
  <div>
    <p>I have varied interests, which can cover numerous fields, fom cooking, to reading and even going clay shooting! A
      list of my hobbies includes:</p>
  </div>
  <div>
    <ul>
      <li>Gaming</li>
      <li>Reading</li>
      <li>Watching Movies/Series</li>
      <li>Cooking</li>
      <li>Shooting</li>
      <li>Going to new Restaurants (For when I am too lazy to cook)</li>
      <li>Having a Drink with friends</li>
      <li>BRAAI!</li>
      <li>Doing Cool DIY Tech Projects</li>
      <li>Spending WAY too much time on Wikipedia</li>
    </ul>
    <p>The list could go on and on, but I think you get the idea...</p>
  </div>
  <div>
    <p>I just realised we came this far, and I never introduced myself! Hi, I am Tehan Uys, but most people just call me
      Tehan, unless I am in trouble...</p>
    <div>
      <img src="/assets/me.jpg" alt="itsa_me_tehan">
    </div>
  </div>
</div>
