<div>
  <h2>Projects</h2>
  <p>Welcome to my Awesome Projects!</p>
  <p>This section will contain my projects that I have done for work. Unfortunately, as I spend all og my time working
    on an Enterprise Level, all of my repos are private, so I can not give any repository links for you to check
    out...</p>
  <div>
    <p>Without further ado, here is a list of the projects I have done:</p>
    <ul>
      <li>Vectra Print Server</li>
      <div>
        This project was created to simplify managing AIX Print Server printers. Generally you can only manage(create,
        read, update, delete) these printers through terminal commands. The software that I wrote gives the user a nice
        GUI to do this management off of, as well as gives an untrained user to more complex commands
      </div>
      <li>zSum</li>
      <div>
        This project was created to interface with SAP, to pull real time sales data, and display it for our client on a
        mobile app. Previously, they only got a daily report, and had no way to see how much has been made in the middle
        of the day. At it's peak, the app had over 200 concurrent users in the company.
      </div>
      <li>Authentication & Authorization System</li>
      <div>
        Probably one of the projects I am the most proud of, not the least of which because I did it mostly on my own.
        Everytime our client had to do Auth on any of their apps, a new implementation was written, which took up
        valuable dev hours. This program solved this by becoming the central auth hub for the company. You just had to
        install the needed package, and boom, a ready made Auth system in 5 minutes(We timed it)
      </div>
      <li>SmartSale</li>
      <div>
        A system for the client to interface with their online website, and manage sales and deliveries.
      </div>
      <li>SmartPDF</li>
      <div>Templating Engine to easily create PDF's for the whole company.</div>
      <li>PriceCards</li>
      <div>A system the leveraged SmartPDF, and interfaced with SAP and our client's website, to generate price cards in
        their physical stores
      </div>
      <li>Foundation</li>
      <div>
        The successor to zSum. Allowed for way more data and features than zSum, but built on newer technology, and was
        much faster. It also included other functions, such as monitoring products, warehouses, and even clients
      </div>
    </ul>
    <p>There are also a bunch of smaller projects, but these were some of the largest ones I worked on.</p>
  </div>
</div>
